:root{

    --colorFondo: #8d1ab1;
    --colorNavegacion: #f133ffa8;
    --secundario: #ffca00;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
}
body{
    background-color: var(--colorFondo);
    font-size: 1.6rem;
}

h1,h2 {
    text-align: center;
    color: var(--secundario);
    font-family:'Courier New', Courier, monospace;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.3rem;
}
.header {
    display: flex;
    justify-content: center;
}
.barra-navegacion {
    background-color: var(--colorNavegacion);
    
    display: flex;
    justify-content: center;
    /*gap: 2rem; *separacion forma nueva */
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
